---
eleventyExcludeFromCollections: true
layout: base.njk
permalink: /404.html
title: Ooooops
---

<div class="content page pt-4">
    Sorry, this site doesn't exist.<br /><br />
    <img src="/assets/images/404.png" alt="Sad panda can't find this site" />
</div>
