---
eleventyExcludeFromCollections: true
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.posts %}
  <url>
    <loc>{{ siteconfig.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | sitemapdate }}</lastmod>
    <changefreq>{{ item.data.sitemapChangefreq | default("daily") }}</changefreq>
    <priority>{{ item.data.sitemapPriority | default(0.8) }}</priority>
  </url>
{% endfor %}
</urlset>