{% if collections.recents %}
<div id="recents" class="ml-1 mt-12 p-2 border-solid border-l-1 border-gray-300 dark:border-gray-700 mb-16 text-gray-800 dark:text-gray-400">
    <span class="ml-1">Recent updates</span>
    <ul class="list-none mt-2 pt-2 pl-2 pr-4 text-xs">
        {% for recent in collections.recents %}
        <li class="truncate{% if not loop.last %} pb-4{% endif %}">
            <a href="{{ recent.url }}">{{ recent.data.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}