{% set outline = content | toc %}
{% if outline %}
<div id="toc" class="list-none ml-1 pt-2 pr-2 border-solid border-l-1 border-gray-300 dark:border-gray-700 text-gray-800 dark:text-gray-400 sticky top-8">
    <span class="pl-2">Content</span>
    <div class="text-xs pt-2 pr-4">
        {{ outline | safe }}
    </div>
</div>
{% endif %}